Notes.xoj
course-1/week-1/.ipynb_checkpoints/
course-1/week-2/.ipynb_checkpoints/
course-1/week-3/.ipynb_checkpoints/
course-1/week-4/.ipynb_checkpoints/
course-2/week-1/.ipynb_checkpoints/
course-2/week-2/.ipynb_checkpoints/
course-2/week-3/.ipynb_checkpoints/
course-2/week-4/.ipynb_checkpoints/
course-3/week-1/.ipynb_checkpoints/
course-3/week-2/.ipynb_checkpoints/
course-3/week-3/.ipynb_checkpoints/
course-3/week-4/.ipynb_checkpoints/
course-4/week-1/.ipynb_checkpoints/
course-4/week-2/.ipynb_checkpoints/
course-4/week-3/.ipynb_checkpoints/
course-4/week-4/.ipynb_checkpoints/
